<link rel="stylesheet" href="css/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<header>
    <div class="searchBox">
        <img src="img/search.svg" alt="">
        <input type="text" placeholder="Enter github repository url" value="{{repository.html_url}}">
    </div>
    <button class="submitButton">SUBMIT</button>
</header>
<div class="container">
    <div class="title">
        <div class="userAccount">
            <div class="userAvatar">
                <img class="userAvatar" src="{{repository.owner.avatar_url}}" alt="">
            </div>
            <p class="userName">{{repository.owner.login}}</p>
        </div>
        <div class="repositoryInfo">
            <div class="githubLogo">
                <p>GitHub</p>
                <img src="img/githublogo.png" alt="">
            </div>
            <div class="repoFullname">
                <p>{{repository.full_name}}</p>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="loading">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="forksContainer">
        </div>
    </div>
</div>
<script>
    var url = "{{repository.url}}";
    console.log(url);

    var request = new XMLHttpRequest();
    request.open('POST', 'api/forks', true);
    request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
    request.onload = function () {
        if (this.status >= 200 && this.status < 400) {
            // Success!
            var data = JSON.parse(this.response);
            let contentContainer = document.querySelector('.content');
            contentContainer.removeChild(document.querySelector('.content .loading'));
            parseForksData(data);
        }
    };
    request.send(`url={{repository.html_url}}`);

    function parseForksData(forksArray) {
        var forksContainer = document.querySelector('.forksContainer');
        for (let item of forksArray) {
            let fork = document.createElement('div');
            fork.classList.add('fork');
            let forkItem = document.createElement('div');
            forkItem.classList.add('forkItem');
            forkItem.innerHTML = `
                <input type="hidden" id="apiUrl" value="${item.url}">
                <img src="img/avatar.webp" alt="" class="forkUserAvatar">
                <p class="forkRepoName">${item.full_name}</p>`;
            let branchContainer = document.createElement('div');
            branchContainer.classList.add('branchContainer');
            forkItem.addEventListener('click', () => {
                onForkItemClick(fork, item);
            })
            fork.appendChild(forkItem);
            fork.appendChild(branchContainer);
            forksContainer.appendChild(fork);
        }
    }

    function onForkItemClick(forkItem, data) {
        var form = document.createElement('form');
        form.setAttribute('target', '_blank');
        form.setAttribute('method', 'GET');
        form.setAttribute('action', '/track_commit');
        var fullName = "{{repository.full_name}}";
        var defaultBranch = "{{repository.default_branch}}";
        form.innerHTML = 
            `<input type="text" name="rootFullName" value="${fullName}">
            <input type="text" name="rootBranch" value="${defaultBranch}">
            <input type="text" name="forkRepoUrl" value="${data.url}">`;
        document.querySelector('body').appendChild(form);
        form.submit();
    }
</script>