<link rel="stylesheet" href="css/fork_repo.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>

<header>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{repository.full_name}}
        </button>
        <ul class="dropdown-menu">
            {{#each forkList}}
            <li><a class="dropdown-item" 
                href="/track_commit?rootFullName={{../rootRepositoryFullName}}&rootBranch={{../rootRepositoryBranch}}&forkRepoUrl={{this.url}}">
                {{this.fullName}}</a>
            </li>
            {{/each}}
        </ul>
    </div>
</header>
<div class="myContainer">
    <div class="title">
        <div class="userAccount">
            <div class="userAvatar">
                <img class="userAvatar" src="{{repository.owner.avatar_url}}" alt="">
            </div>
            <a class="userName" target="_blank" href="{{repository.owner.html_url}}">{{repository.owner.login}}</a>
        </div>
        <div class="repositoryInfo">
            <div class="githubLogo">
                <p>GitHub</p>
                <img src="img/githublogo.png" alt="">
            </div>
            <div class="repoFullname">
                <a target="_blank" href="{{repository.html_url}}">{{repository.full_name}}</a>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="loading">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="forksContainer">
        </div>

    </div>
</div>
<script>
    loadAheadCommit();

    function loadAheadCommit() {
        var request = new XMLHttpRequest();
        var secondRepository = "{{repository.url}}";
        var firstRepository = "https://api.github.com/repos/{{rootRepositoryFullName}}";
        request.open('GET', `api/compare_repository?firstRepository=${firstRepository}&secondRepository=${secondRepository}`, true);
        request.onload = function () {
            if (this.status >= 200 && this.status < 400) {
                let contentContainer = document.querySelector('.content');
                contentContainer.removeChild(document.querySelector('.content .loading'));
                parseCommit(JSON.parse(this.response));
            }
        }
        request.send();
    }

    function parseCommit(data) {
        console.log(data);
        var forksContainer = document.querySelector('.forksContainer');
        for (let branch of data) {
            let branchItem = document.createElement('div');
            branchItem.classList.add('branch');
            branchItem.innerHTML =
                `<div class="branchTitle">
                    <p class="branchName">${branch.branch_name}</p>
                    <p class="numberOfCommits">${branch.aheadCommits.length}</p>
                </div>
                <div class="aheadCommits"></div>`;
            forksContainer.appendChild(branchItem);
            branchItem.querySelector(".branchTitle").addEventListener('click', () => {
                let aheadCommitsContainer = branchItem.querySelector('.aheadCommits');
                aheadCommitsContainer.classList.toggle('show');
            })

            let aheadCommitsContainer = branchItem.querySelector('.aheadCommits');
            for (let item of branch.aheadCommits) {
                let date = new Date(Date.parse(item.commit.author.date));
                let dateString = date.toLocaleDateString('de-De',
                    {
                        year: "numeric",
                        month: "long",
                        day: "numeric"
                    }
                );

                let commitItem = document.createElement('div');
                commitItem.classList.add('forkItem');
                commitItem.innerHTML =
                    `<div class="textArea">
                    <p class="message">${item.commit.message}</p>
                    <p class="committer">${item.author.login}</p><span> committed on </span><p class="commitDate">${dateString}</p>
                </div>
                <div class="goToCommitButton">View commit</div>`;
                commitItem.querySelector('.goToCommitButton').addEventListener('click', () => {
                    window.open(item.html_url, '_blank').focus();
                });
                aheadCommitsContainer.appendChild(commitItem);
            }
        }
    }
</script>